    <div class="container">
      <nav class="navbar navbar-expand-lg bg-body-tertiary rounded navbar-secondary-emphasis bg-secondary-emphasis shadow-lg p-3 mb-5 bg-body-tertiary rounded " aria-label="Thirteenth navbar example">
        <div class="container-fluid">
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample11" aria-controls="navbarsExample11" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse d-lg-flex" id="navbarsExample11">
            <a class="navbar-brand col-lg-3 me-0" href="http://localhost:3000/">MiwaCoolSite</a>
            <ul class="navbar-nav col-lg-6 justify-content-lg-center">
              <li class="nav-item">
                <%= link_to 'Поділись своєю історією', new_post_path, class: "nav-link" %>
              </li>
            </ul>
            <div class="d-lg-flex col-lg-3 justify-content-lg-end">
            <% if author_signed_in?%>
               <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#"><%= current_author.email %></a>
              </li>
            <% else %>
              <%= link_to 'Увійти', new_author_path, class: 'btn btn-primary' %>
            <% end %>
            </div>
          </div>
        </div>
      </nav>
    </div>