// require bootstrap

@import "bootstrap";


body {
     background-image: linear-gradient(270deg, #b3e4fd 0, #b0e1f4 6.25%, #addcea 12.5%, #acd6df 18.75%,
     #abcfd3 25%, #aac6c7 31.25%, #aabcbc 37.5%, #a8b2b0 43.75%,
      #a6a6a6 50%, #a39a9d 56.25%, #9e9097 62.5%, #998793 68.75%, #937f90 75%, #8d798f 81.25%,
       #85748f 87.5%, #7d708f 93.75%, #756e90 100%);
}




 .new__level {
    padding: 15px;
 }

 .page {
  display: flex;
  justify-content: center;
  height: 350px;
}

.page__avatar {
  width: 20%;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.page__avatar-image {
  margin-top: 30px;
  height: 180px;
  width: 240px;
}

.page__button {
  margin: 10px;
  height: 35px;
  width: 70px;
  background-color: rgb(17, 250, 0);
  border-radius: 8px;
  font-weight: 600;
  cursor: pointer;
  
}

.page__personal {
  width: 20%;
}

.page__comment {
  margin: 30px;
  width: 60%;
  height: 100%;
  overflow: auto;
}




